.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.button:focus,
.button:active,
.button:hover {
  outline: none;
}

.labelTop {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.labelRight {
  position: absolute;
  right: -5px;
  top: 80%;
  transform: translateY(-50%);
}

.labelLeft {
  position: absolute;
  left: -5px;
  top: 80%;
  transform: translateY(-50%);
}
